*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
}

#container{
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
#text-box p{
    border: 2px black solid;
    background-color: yellow;
    width: 25%;
    margin: 0px auto;
    padding: 30px;
}

#text-box p:hover{
    transition: 0s;
    transform: rotate(180deg);
}

#square{
    background-color: rgb(82, 82, 238);
    margin: 150px auto;
    width: 200px;
    height: 200px;
}

#square:hover{
    animation: mymove 2s infinite;
    transition-delay: 1s;
    transform:scale(2);
    transition: 2s;
}

@keyframes mymove{
    from{rotate: 0deg;}
    to{rotate: 180deg;}

}

#imge-box{
    width: 100%;
}

#image-box figure{
    float: left;
    width: 31.25%;
    margin: 3% 1%;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

#image-box img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

#image-box #img1:hover{
    filter: grayscale(100%);
}

#image-box #img2:hover{
    filter: blur(5px);
}

#image-box #img3:hover{
    filter: opacity(50%);
}

figcaption{
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

#image-gallery{
    width: 100%;
}

#image-gallery figure{
    float: left;    
    width: 23%;
    margin: 30px 1%;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

#image-gallery img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

#shadow{
    width: 90%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#shadow #letter-shadow h1{
    text-align: center;
}
#shadow #letter-shadow{
    width: 50%;
    padding: 150px 10px;
    color: white;
    border: 2px solid plum;
    text-shadow: 1px 1px 5px black, 0px 0px 25px blue, 0 0 10px red;
}

#shadow #picture-shadow{
    width: 50%;
    padding-top: 20px;
}
#shadow #picture-shadow figure{
    border-radius: 10px;
    width: 50%;
    box-shadow: 1px 1px 25px black, 0 0 30px blue, 0 0 15px red;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    margin: 0 auto;
}

#shadow #picture-shadow figcaption{
    color: white;
    padding: 20px 0;
}

#shadow #picture-shadow img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h2{
    text-shadow: 1px 1px 5px black, 0px 0px 7px blue, 0 0 10px red;
    text-align: center;
    color: white;
    font-weight: 400;
    border-bottom: 4px solid plum;
    padding: 10px;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    margin: 30px;
}


@media screen and (max-width: 800px) and (min-width: 300px){
    #image-box figure{
        width: 100%;
    }

    #image-gallery figure{
        width: 48%;
        margin-bottom: 30px;
    }
    
    #text-box p{
        width: 80%;
        padding: 10px;
        font-size: small;
    }

    #square{
        width: 150px;
        height: 150px;
        margin: 100px auto;
    }
                        
    #shadow{
        margin: 10px auto;
        flex-direction: column;
    }
   
    #shadow #letter-shadow{
        width: 100%;
        padding: 10px;
    }

    #shadow #picture-shadow{
        width: 100%;
        padding-top: 40px;
    }
    #shadow #picture-shadow figure{
        width: 100%;
    }

    #shadow #picture-shadow figcaption{
        padding: 20px 0;
    }

    #shadow #picture-shadow img{
        width: 100%;
    }

}

@media screen and (max-width: 300px){
    
    #square{
        width: 100px;
        height: 100px;
        margin: 75px auto;
    }
    
    #text-box p{
        width: 80%;
        padding: 10px;
        font-size: small;
    }

    #image-gallery figure{
        width: 99%;
        border: 1px solid black;
        margin-bottom: 30px;
    }
    #square{
        width: 150px;
        height: 150px;
        margin: 100px auto;
    }
                        
    #shadow{
        margin: 10px auto;
        flex-direction: column;
    }
   
    #shadow #letter-shadow{
        width: 100%;
        padding: 10px;
    }

    #shadow #picture-shadow{
        width: 100%;
        padding-top: 40px;
    }
    #shadow #picture-shadow figure{
        width: 100%;
    }

    #shadow #picture-shadow figcaption{
        padding: 20px 0;
    }
    #shadow #picture-shadow img{
        width: 100%;
    }

}

.clear{
    clear: both;
}